:root {
   --hue-main: 250;
   --hue-accent: 210;
   --hue-error: 0;
   /* colors */
   --main-background: hsl(var(--hue-main), 60%, 97%);
   --card-background: white;
   --inner-card-background: hsl(var(--hue-main), 100%, 97%);
   --outline-color: hsl(var(--hue-main), 40%, 80%);
   --border-color: hsl(var(--hue-main), 70%, 65%);

   /* text colors */
   --main-color: hsl(var(--hue-main), 30%, 14%);
   --card-color: hsl(var(--hue-main), 20%, 20%);
   --inner-card-color: hsl(var(--hue-main), 20%, 14%);
   --card-color-pastel: hsl(var(--hue-main), 40%, 66%);
   --special-color: hsl(var(--hue-main), 80%, 70%);
   --disabled-color: hsl(var(--hue-main), 20%, 70%);
   --error-color: hsl(var(--hue-error), 90%, 65%);
   /* font weights */
   --font-weight-thin: 280;
   --font-weight-light: 350;
   --font-weight-normal: 450;
   --font-weight-medium: 520;
   --font-weight-bold: 640;
   --font-weight-heavy: 760;
   --font-weight-black: 860;

   /* buttons */
   --button-height: 40px;
   --button-padding: 16px;
   --button-background-hover: hsl(var(--hue-main), 100%, 96.5%);
   --button-background-active: hsl(var(--hue-main), 100%, 92%);

   /* dimensions */
   --card-radius: 32px;
   --card-padding: 16px 20px;
   --card-gap: 8px;
   --inner-card-gap: 4px;
   --inner-card-radius: 16px;
   --inner-card-padding: 8px;
   --sidebar-width: 80px;

   /* transition */
   --transition-duration: 0.2s;
   --transition-opts: var(--transition-duration) ease;

   /* calendar */
   --calendar-day-size: 30px;
   --calendar-gap: 4px;
   --calendar-font-size: 0.85rem;

   /* editable */
   --zoom-level: 1;
   --font-size: 15px;

   @media (prefers-reduced-motion: reduce) {
      --transition-opts: none;
   }
}

* {
   box-sizing: border-box;
}

:root {
   font-family: Inter, sans-serif;
   font-feature-settings: 'liga' 1, 'calt' 1, "ss01" 1, "sso4" 1, "cs01" 1, "cv05" 1, "cv06" 1, "cv08" 1, "cv10" 1, "cv11" 1, "cv13" 1;
   font-weight: var(--font-weight-normal);
   height: 100%;

   zoom: var(--zoom-level);
   font-size: var(--font-size);

   @supports (font-variation-settings: normal) {
      font-family: InterVariable, sans-serif;
   }

   & ::selection {
      background-color: var(--card-color-pastel);
      color: var(--card-background);
   }
}

body {
   display: flex;
   flex-direction: row;
   background: var(--main-background);
   color: var(--main-color);
   overflow: clip;
   margin: 0;
   height: 100%;
}

#sidebar {
   height: 100%;
   width: var(--sidebar-width);
}

main {
   margin: 8px;
   display: flex;
   flex-direction: column;
   flex: 1;
}

button {
   all: initial;
   font: inherit;
   color: inherit;
   cursor: pointer;

   &:disabled {
      pointer-events: none;
      opacity: 0.5;
   }
}

.card {
   background-color: var(--card-background);
   color: var(--card-color);
   border-radius: var(--card-radius);
   padding: var(--card-padding);
   display: flex;
   flex-direction: column;
   flex: 1;
   max-height: 100%;

   & .title {
      font-size: 1.2rem;
      font-weight: var(--font-weight-bold);
      letter-spacing: .02rem;
      margin: 0;

      &#logoTitle {
         font-size: 1.8rem;
         font-weight: var(--font-weight-bold);
         display: flex;
         align-items: center;
         gap: 4px;
         padding-inline: 8px;
      }
   }
}

.inner-card {
   background: var(--inner-card-background);
   color: var(--inner-card-color);
   border-radius: var(--inner-card-radius);
   padding: var(--inner-card-padding);
}

#topbar {
   display: flex;
   align-items: center;
   padding-bottom: 8px;
   border-bottom: 1px solid var(--outline-color);

   & ul {
      margin-inline-start: auto;
      margin-block: 0;
      padding: 0;
      display: flex;
      list-style: none;
      gap: 12px;

      & button {
         display: flex;
         align-items: center;
         padding-inline: var(--button-padding);
         height: var(--button-height);
         gap: 8px;
         border-radius: calc(var(--button-height) / 2);
         transition: background-color var(--transition-opts);

         &:hover {
            background-color: var(--button-background-hover);
         }

         &.active {
            background-color: var(--button-background-active);
         }
      }
   }
}

#content {
   display: flex;
   gap: var(--card-gap);
   flex: 1;
   padding-top: 12px;
   max-height: calc(100% - 50px);

   & .calendar-container {
      display: flex;
      flex-direction: column;
      gap: 8px;
      height: fit-content;

      & .calendar-head {
         display: flex;
         align-items: center;
         justify-content: space-between;
         position: relative;

         & .calendar-head-title {
            font-size: 1.4rem;
            line-height: 1.5;

            & #currentMonth {
               font-weight: var(--font-weight-heavy);
            }

            & #currentYear {
               font-weight: var(--font-weight-thin);
            }
         }

         & button {
            height: var(--button-height);
            width: var(--button-height);
            border-radius: calc(var(--button-height) / 2);
            text-align: center;
            line-height: 1.8;
            transition: background-color var(--transition-opts);

            &:hover {
               background-color: var(--button-background-active);
            }
         }
      }

      & .calendar-body {

         & .calendar-body-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-weight: var(--font-weight-bold);
            margin-bottom: 8px;
            padding-inline: var(--calendar-gap);
         }

         & .calendar-body-grid {
            display: flex;
            flex-direction: column;
            gap: var(--calendar-gap);
            background-color: var(--card-background);
            padding: var(--calendar-gap);
            border-radius: calc(var(--inner-card-radius) - var(--inner-card-padding));
            overflow: clip;

            &.fade-right .week {
               transform: translate(0);

               @starting-style {
                  transform: translateX(-500px);
               }

            }

            &.fade-left .week {
               transform: translateX(0);

               @starting-style {
                  transform: translateX(500px);
               }

            }

         }

         & span {
            width: var(--calendar-day-size);
            height: var(--calendar-day-size);
            font-size: var(--calendar-font-size);
            border-radius: calc(var(--calendar-day-size) / 2);
            display: flex;
            align-items: center;
            justify-content: center;
            box-sizing: border-box;
         }

         & .week {
            display: flex;
            border-radius: calc(var(--calendar-day-size) / 2 + 4px);
            gap: calc(var(--calendar-gap) / 2);
            box-sizing: border-box;
            border: 2px solid transparent;
            transition: background-color var(--transition-opts), border-color var(--transition-opts), transform .2s cubic-bezier(.08, .82, .17, 1);
         }

         & .day {
            cursor: pointer;
            user-select: none;
            border: 2px solid transparent;
            border-radius: calc(var(--calendar-day-size) / 2 + 4px);
            transition: background-color var(--transition-opts), border-color var(--transition-opts);

            & span {
               transition: background-color var(--transition-opts);
            }

            &.holiday {
               color: var(--error-color);
               font-weight: var(--font-weight-thin);
            }

            &.prev,
            &.next {
               color: var(--disabled-color);
            }
         }
      }
   }

   & .timetable-container {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: var(--card-gap);

      & .timetable-header {
         display: flex;
         gap: var(--card-gap);

         & .inner-card {
            width: fit-content;
            box-sizing: border-box;
         }

         & #reset {
            border-radius: calc(var(--button-height) / 2);
            height: var(--button-height);
            max-width: var(--button-height);
            display: flex;
            align-items: center;
            justify-content: center;
            transition: background-color var(--transition-opts), max-width var(--transition-opts);
            background-color: var(--button-background-hover);
            overflow: clip;
            justify-content: start;

            & i {
               min-width: var(--button-height);
               text-align: center;
            }

            & span {
               text-wrap: nowrap;
               padding-inline-end: var(--button-padding);
               opacity: 0;
               transition: opacity var(--transition-opts);
            }

            &:hover {
               background-color: var(--button-background-active);
               max-width: 200px;

               & span {
                  opacity: 1;
               }
            }
         }

         & #options {
            margin-inline-start: auto;

            & label {
               display: flex;
               flex-direction: column;
               justify-content: end;
               align-items: center;
               height: 100%;
               background-color: var(--inner-card-background);
               border-radius: var(--inner-card-radius);
               padding: var(--inner-card-padding);
               box-sizing: border-box;
               color: var(--inner-card-color);
               font-weight: var(--font-weight-bold);
               gap: var(--inner-card-gap);
            }

            & #confidence {
               -webkit-appearance: none;
               appearance: none;
               background: transparent;
               width: 120px;
               margin: 2px 6px;
               min-height: 16px;

               &::-moz-range-track {
                  background-color: var(--button-background-active);
                  height: 4px;
                  border-radius: 2px;
               }

               &::-webkit-slider-runnable-track {
                  background-color: var(--button-background-active);
                  height: 4px;
                  border-radius: 2px;
               }

               &::-webkit-slider-thumb {
                  -webkit-appearance: none;
                  width: 12px;
                  height: 12px;
                  background-color: var(--border-color);
                  border: none;
                  border-radius: 6px;
                  cursor: pointer;
                  box-shadow: 0 1px 6px -2px black;
                  transform: translateY(-4px);
               }

               &::-moz-range-thumb {
                  appearance: none;
                  width: 12px;
                  height: 12px;
                  background-color: var(--border-color);
                  border: none;
                  border-radius: 6px;
                  cursor: pointer;
                  box-shadow: 0 1px 6px -2px black;
               }
            }
         }
      }

      & .timetable-body {
         display: flex;
         flex-direction: column;
         flex: 1;
         max-height: calc(100% - 74px);

         & #timetable {
            --timetable-bg-1: hsl(var(--hue-main), 30%, 97%);
            --timetable-bg-2: hsl(var(--hue-main), 30%, 98%);
            --timetable-border-1: hsl(var(--hue-main), 100%, 95%);
            --timetable-border-2: hsl(var(--hue-main), 100%, 97%);

            --inner-card-background:
               linear-gradient(160deg, var(--timetable-bg-1), var(--timetable-bg-2)) padding-box,
               linear-gradient(100deg, var(--timetable-border-1), var(--timetable-border-2)) border-box;

            flex: 1;
            display: flex;
            gap: calc(var(--inner-card-gap));
            max-height: 100%;

            & .day {
               --card-color-pastel: hsl(var(--hue-main), 30%, 45%);

               --suggestion-bg-1: hsl(var(--hue-main), 90%, 97%);
               --suggestion-bg-2: hsl(var(--hue-accent), 90%, 96%);
               --suggestion-hover-bg-1: hsl(var(--hue-accent), 95%, 92%);
               --suggestion-hover-bg-2: hsl(var(--hue-main), 95%, 94%);
               --suggestion-border-1: hsl(var(--hue-main), 50%, 92%);
               --suggestion-border-2: hsl(var(--hue-main), 50%, 80%);
               --suggestion-border-focus: hsl(var(--hue-main), 40%, 50%);
               --suggestion-bg-content:
                  linear-gradient(120deg, var(--suggestion-bg-2), var(--suggestion-bg-1), var(--suggestion-hover-bg-1), var(--suggestion-hover-bg-2));
               --suggestion-bg-glass:
                  linear-gradient(120deg, hsl(from var(--suggestion-bg-1) h s l /.5), hsl(from var(--suggestion-bg-2) h s l /.5), hsl(from var(--suggestion-hover-bg-1) h s l /.5), hsl(from var(--suggestion-hover-bg-2) h s l /.5));
               --suggestion-bg-border: linear-gradient(var(--suggestion-border-1), var(--suggestion-border-2));

               --suggestion-background:
                  var(--suggestion-bg-content) padding-box,
                  var(--suggestion-bg-border) border-box;

               position: relative;
               display: flex;
               flex-direction: row;
               gap: var(--card-gap);
               flex: 1;

               & .inner-card {
                  flex: 1;
                  box-shadow: 0 2px 12px -8px #000000;
                  border: 1px solid transparent;
                  padding-inline: 0;
                  padding-bottom: 0;
                  gap: 0;
                  max-height: 100%;
                  overflow: clip;
               }

               & .card-title {
                  margin-block: 0;
                  padding: 4px 12px;
               }

               & .timesheet {
                  display: flex;
                  flex-direction: column;
                  gap: var(--card-gap);
                  flex: 1;
                  overflow: auto;
                  padding: 4px 10px;
                  height: 100%;
               }

               & .logs-view {

                  & .timesheet {
                     height: 100%;
                     overflow: auto;
                     display: grid;
                     grid-template-rows: repeat(96, 20px);
                     counter-reset: hour minute;
                     padding-block: 12px 32px;
                     gap: 0;
                     position: relative;


                     & .quarter {
                        counter-increment: minute 15;
                        --border-opacity: 0.15;
                        --leading-zero: '';
                        margin-inline: 40px 20px;
                        position: relative;

                        &:nth-child(4n + 1) {
                           &:not(:first-child) {
                              counter-increment: hour;
                              --leading-zero: '0';
                           }

                           counter-reset: minute;
                           --border-opacity: 0.4;

                           &::before {
                              content: counter(hour) ":00";
                              position: absolute;
                              left: -40px;
                              top: -1px;
                              transform: translateY(-50%);
                              font-size: 0.8rem;
                              color: var(--card-color-pastel);
                           }
                        }

                        &:hover {
                           --border-opacity: 0.7;
                           --special-color: var(--card-color);
                        }

                        box-sizing: content-box;
                        border-top: 1px solid hsl(from var(--special-color) h s l / var(--border-opacity));
                     }

                     & .suggestion {
                        display: flex;
                        flex-direction: column;
                        position: absolute;
                        top: 12px;
                        left: 100px;
                        right: 40px;
                        bottom: auto;
                        border-radius: calc(var(--inner-card-radius) / 2);
                        padding-inline: var(--inner-card-padding);
                        z-index: 1;
                        background: var(--suggestion-bg-glass);
                        background-size: 300% 100%;
                        transition:
                           background .35s cubic-bezier(.42, .82, .37, .8),
                           opacity .2s cubic-bezier(.23, .45, .25, .9), ;
                        backdrop-filter: blur(3px);
                        box-shadow: 0 1px 8px -6px black;
                        opacity: 0.95;
                        color: hsl(from var(--card-color-pastel) h s calc(l * 1.4));
                        overflow: clip;
                        justify-content: space-between;

                        & .suggestion-title {
                           padding-top: var(--inner-card-padding);
                           font-weight: var(--font-weight-medium);
                           font-size: 0.92rem;
                        }

                        & .times {
                           font-size: 0.85rem;
                           text-align: end;
                           font-weight: var(--font-weight-light);
                           font-style: italic;
                           padding-bottom: var(--inner-card-padding);
                        }

                        &::after {
                           position: absolute;
                           content: "";
                           inset: 0;
                           background: var(--suggestion-bg-border) border-box;
                           z-index: -1;
                           border-radius: inherit;
                           border: 1px solid transparent;
                           mask:
                              linear-gradient(black) border-box,
                              linear-gradient(black) padding-box;
                           mask-composite: subtract;
                        }

                        &:hover {
                           opacity: 1;
                           background-position: 100% 0 !important;
                           --suggestion-bg-border: var(--suggestion-border-focus);
                        }

                        &.template {
                           display: none;
                        }
                     }
                  }
               }

               & .suggestions-view {
                  display: flex;
                  flex-direction: column;
                  max-width: 520px;


                  & .card-title {
                     font-weight: var(--font-weight-light);
                  }

                  & .suggestion {
                     background: var(--suggestion-background);
                     background-size: 300% 100%;
                     border: 1px solid transparent;
                     border-radius: var(--inner-card-radius);
                     display: flex;
                     flex-direction: column;
                     gap: var(--inner-card-gap);
                     box-shadow: 0 1px 8px -6px black;
                     transform-origin: top center;
                     overflow: clip;
                     transition:
                        background .35s cubic-bezier(.42, .82, .37, .8),
                        transform .2s cubic-bezier(.23, .45, .25, .9),
                        box-shadow .2s cubic-bezier(.23, .45, .25, .9);

                     cursor: pointer;

                     & .suggestion-title {
                        padding: 8px 12px 2px 12px;
                        margin-block: 0;
                     }

                     & .suggestion-description {
                        padding: 0 12px 4px 12px;
                        font-size: 0.9rem;
                        color: var(--card-color-pastel);
                        font-weight: var(--font-weight-light);
                        font-style: italic;
                     }

                     & .suggestion-details,
                     .suggestion-interactions {
                        padding: 0 12px 8px 12px;
                        display: flex;
                        flex-direction: column;
                        gap: var(--inner-card-gap);
                        font-size: 0.9rem;
                        transition:
                           max-height var(--transition-opts),
                           opacity var(--transition-opts);

                        & .suggestion-apps {
                           margin: 8px 4px;
                           display: flex;
                           flex-wrap: wrap;
                           gap: 4px 8px;
                           overflow: visible;
                        }

                        & .app {
                           display: flex;
                           gap: 4px;
                           align-items: center;
                           background-color: hsl(var(--hue-main), 60%, 97.5%);
                           padding-inline: 8px;
                           height: 24px;
                           border-radius: 12px;
                           align-content: center;
                           border: 1px solid #bbbbdd;
                           box-shadow: 0 0 6px -3px #000000aa;
                           font-size: 0.75rem;
                           font-weight: var(--font-weight-medium);

                           &.template {
                              display: none;
                           }
                        }

                        & .times {
                           align-self: end;
                        }
                     }

                     & .suggestion-interactions {
                        padding-inline: 0;
                        gap: 0;

                        & .interaction {
                           display: grid;
                           grid-template-columns: auto 1fr;
                           gap: 4px;
                           position: relative;
                           padding: 8px 12px;

                           & .app {
                              grid-row: 1 / span 2;
                              grid-column: 1;
                              align-self: center
                           }

                           & .description {
                              grid-row: 1;
                              grid-column: 2;
                              font-weight: var(--font-weight-light);
                              color: var(--card-color-pastel);
                              font-size: .8rem;
                              align-self: center;
                              justify-self: end;
                           }

                           & .times {
                              grid-row: 2;
                              grid-column: 2;
                              text-align: end;
                           }

                           &::before {
                              position: absolute;
                              top: 0;
                              content: "";
                              width: 100%;
                              height: 1px;
                              background-color: var(--outline-color);
                              opacity: 0.5;
                              margin-bottom: 4px;
                           }

                           &.template {
                              display: none;
                           }
                        }
                     }

                     &.expanded {
                        & .suggestion-details {
                           max-height: 0 !important;
                           opacity: 0 !important;
                        }
                     }

                     &:not(.expanded) .suggestion-interactions {
                        max-height: 0 !important;
                        opacity: 0 !important;
                     }

                     &:hover {
                        background-position: 100% 0;
                        box-shadow: 0 2px 12px -8px black;

                        &:not(.expanded) {
                           transform: scale(1.015);
                        }
                     }

                     &#templateSuggestion {
                        display: none;
                     }
                  }
               }

               &#templateDay {
                  display: none;
               }
            }
         }
      }
   }

   &[view="day"] {

      & #timetableWeekHeader,
      #timetableMonthHeader {
         display: none;
      }

      & #calendar {
         & .day {
            &:hover span {
               background-color: var(--button-background-hover);
            }

            &.active {
               border-color: var(--border-color);
               box-sizing: border-box;

               & span {
                  background-color: var(--button-background-active);
               }

               &.today {
                  border-color: transparent;
                  background-color: var(--border-color);
               }
            }

            &.today span {
               background-color: var(--card-color-pastel);
               color: var(--inner-card-background);
            }
         }
      }

      #timetableDayHeader {
         display: grid;
         text-transform: uppercase;
         font-size-adjust: ex-height .7;
         line-height: 1;
         padding: 12px 16px;
         gap: 4px;

         & .day {
            font-size: 1rem;
            text-align: center;
            font-weight: var(--font-weight-thin);
            grid-row: 1;
            grid-column: 1;
            align-self: end;
            text-align: end;
         }

         & .month {
            font-size: 1rem;
            grid-row: 2;
            grid-column: 1;
            align-self: end;
            text-align: end;
            font-weight: var(--font-weight-heavy);
         }

         & .date {
            font-size: 2.6rem;
            grid-row: span 2;
            grid-column: 2;
            color: var(--special-color);
            font-weight: var(--font-weight-black);
         }
      }

      & #timetable {
         & .logs-view {
            & .card-title.short {
               display: none;
            }
         }
      }
   }

   &[view="week"] {

      & #timetableDayHeader,
      #timetableMonthHeader {
         display: none;
      }

      #timetableWeekHeader {
         display: grid;
         text-transform: uppercase;
         font-size-adjust: ex-height .7;
         line-height: 1;
         padding: 12px 16px;
         border-radius: 1000px;

         & .start-month {
            font-size: 1rem;
            grid-row: 1;
            grid-column: 1;
            align-self: end;
            text-align: end;
            font-weight: var(--font-weight-heavy);
            padding-bottom: 4px;
         }

         & .end-month {
            font-size: 1rem;
            grid-row: 2;
            grid-column: 1;
            align-self: end;
            text-align: end;
            font-weight: var(--font-weight-thin);
            height: 1rem;
         }

         & .start-date {
            padding-left: 4px;
            font-size: 2.6rem;
            grid-row: span 2;
            grid-column: 2;
            color: var(--special-color);
            font-weight: var(--font-weight-black);
         }

         & .dash {
            font-size: 2rem;
            grid-row: span 2;
            grid-column: 3;
            align-self: end;
            font-weight: var(--font-weight-normal);
            color: var(--card-color-pastel);
            line-height: 1.3;
         }

         & .end-date {
            font-size: 1.8rem;
            grid-row: span 2;
            grid-column: 4;
            align-self: end;
            font-weight: var(--font-weight-bold);
            color: var(--card-color-pastel);
            line-height: 1.2;
         }
      }

      & #calendar {
         & .week {
            cursor: pointer;

            &:hover {
               background-color: var(--button-background-hover);
               border-color: var(--card-background)
            }

            &:has(.active) {
               border-color: var(--border-color);
               background-color: var(--button-background-active);
            }

            & .today span {
               background-color: var(--card-color-pastel);
               color: var(--inner-card-background);
            }
         }
      }

      #timetable {
         & .logs-view {
            position: absolute;
            inset: 0;
            background: transparent;
            border: none;
            pointer-events: none;

            & div {
               pointer-events: all;
            }

            & .card-title.long {
               display: none
            }
         }

         & .suggestions-view {
            & .card-title {
               display: none;
            }

            & .timesheet {
               padding-top: 40px !important;
            }
         }
      }
   }

   &[view="month"] {

      & #timetableDayHeader,
      #timetableWeekHeader {
         display: none;
      }
   }
}