:root {
   /* colors */
   --main-background: #e9e9f3;
   --main-color: #1e1e29;
   --card-background: #ffffff;
   --card-color: #1b1b2d;
   --outline-color: #d0d0e2;
   --inner-card-background: #eeeeff;
   --inner-card-color: #1b1b2d;
   --disabled-color: #91919c;

   /* buttons */
   --button-background-hover: #eeeeff;
   --button-background-active: #ddddff;
   --button-background-selected: #5f5f97;

   /* dimensions */
   --card-radius: 32px;
   --card-padding: 16px 20px;
   --inner-card-radius: 8px;
   --inner-card-padding: 8px 12px;
   --sidebar-width: 80px;

   /* transition */
   --transition-duration: 0.2s;
   --transition-opts: var(--transition-duration) ease;

   /* calendar */
   --calendar-day-size: 30px;
   --calendar-gap: 4px;
   --calendar-font-size: 0.85rem;

   @media (prefers-reduced-motion: reduce) {
      --transition-opts: none;
   }
}

:root {
   font-family: Inter, sans-serif;
   font-feature-settings: 'liga' 1, 'calt' 1, "ss01" 1, "sso4" 1, "cs01" 1, "cv06" 1, "cv08" 1, "cv10" 1, "cv11" 1, "cv13" 1;
   font-weight: 450;

   @supports (font-variation-settings: normal) {
      font-family: InterVariable, sans-serif;
   }
}

body {
   display: flex;
   flex-direction: row;
   background: var(--main-background);
   color: var(--main-color);
   margin: 0;
}

#sidebar {
   height: 100vh;
   width: var(--sidebar-width);
}

main {
   margin: 8px;
   display: flex;
   flex-direction: column;
   flex: 1;
}

button {
   all: initial;
   font: inherit;
   color: inherit;
   cursor: pointer;
}

.card {
   background-color: var(--card-background);
   color: var(--card-color);
   border-radius: var(--card-radius);
   padding: var(--card-padding);
   display: flex;
   flex-direction: column;
   flex: 1;

   & .title {
      font-size: 1.2rem;
      font-weight: 650;
      letter-spacing: .02rem;
      margin: 0;

      &#logoTitle {
         font-size: 1.8rem;
         font-weight: 760;
         display: flex;
         align-items: baseline;
         gap: 4px;
         padding-inline: 8px;
      }
   }
}

.inner-card {
   background-color: var(--inner-card-background);
   color: var(--inner-card-color);
   border-radius: var(--inner-card-radius);
   padding: var(--inner-card-padding);
}

#topbar {
   display: flex;
   align-items: center;
   padding-bottom: 8px;
   border-bottom: 1px solid var(--outline-color);

   & ul {
      font-weight: 600;
      margin-inline-start: auto;
      margin-block: 0;
      padding: 0;
      display: flex;
      list-style: none;
      gap: 12px;

      & button {
         display: flex;
         align-items: center;
         padding-inline: 16px;
         height: 40px;
         gap: 8px;
         border-radius: 20px;
         transition: background-color var(--transition-opts);

         & span,
         i {
            height: 16px;
         }

         &:hover {
            background-color: var(--button-background-hover);
         }

         &.active {
            background-color: var(--button-background-active);
         }
      }
   }
}

#content {
   display: flex;
   gap: 8px;
   flex: 1;
   padding-top: 16px;

   & .calendar-container {
      display: flex;
      flex-direction: column;
      gap: 8px;
      height: fit-content;

      & .calendar-head {
         display: flex;
         align-items: center;
         justify-content: space-between;

         & #currentMonth {
            font-weight: 720;
            font-size: 1.2rem;
            line-height: 1.5;
         }

         & #currentYear {
            font-weight: 300;
            font-size: 1.2rem;
            line-height: 1.5;
         }

         & button {
            width: var(--calendar-day-size);
            text-align: center;
            line-height: 1.8;
         }
      }

      & .calendar-body {

         & .calendar-body-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-weight: 600;
            margin-bottom: 8px;
         }

         & span {
            width: var(--calendar-day-size);
            height: var(--calendar-day-size);
            font-size: var(--calendar-font-size);
            border-radius: calc(var(--calendar-day-size) / 2);
            display: flex;
            align-items: center;
            justify-content: center;
            box-sizing: border-box;
         }

         & .week {
            display: flex;
            border-radius: calc(var(--calendar-day-size) / 2 + 4px);
            gap: var(--calendar-gap);
            box-sizing: border-box;
            border: 2px solid transparent;
         }

         & .day {
            border: 2px solid transparent;
            border-radius: calc(var(--calendar-day-size) / 2 + 4px);
            cursor: pointer;

            & span {
               transition: background-color var(--transition-opts);
            }

            &.prev,
            &.next {
               color: var(--disabled-color);
            }
         }
      }
   }

   &[view="day"] .day {

      &:hover {
         background-color: var(--button-background-active);
      }

      &.active {
         border: 2px solid var(--card-color);
         box-sizing: border-box;
         background-color: var(--button-background-active);
      }

      &.today {
         background-color: var(--button-background-selected);
         color: var(--inner-card-background);
      }
   }

   &[view="week"] .week {

      &:hover {
         background-color: var(--button-background-active);
      }

      &:has(.active) {
         border: 2px solid var(--card-color);
         background-color: var(--button-background-active);
      }

      & .today span {
         background-color: var(--button-background-selected);
         color: var(--inner-card-background);
      }
   }
}